@import url("../css/bestProduct.css");
@import url("../css/footer.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

:root {
  --colorPurple: #802c6e;
}

.headerHome > nav {
  height: 4.375rem;
  background: var(--colorPurple);
  box-shadow: 0px 5px 10px 2px;
}

.color-control {
  background: #000;
  padding: 5px 0 0;
  border-radius: 5px;
}

.btn-controler-opacity {
  opacity: 1;
}

.form-control {
  padding: 0 0 0 0.7rem;
}

.main {
  margin: 0;
}

.card > img {
  width: 50%;
}

.accordion-body {
  padding: 0;
}

.buy {
  background: var(--colorPurple);
  color: white;
}

.partners-imgs {
  display: flex;
  justify-content: space-evenly;
}

.alert-fixed-top {
  padding-top: 70px;
  z-index: 2000;
}
