* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --colorPadrao: #802c6e;
}

.headerHome > nav {
  height: 4.375rem;
  background: var(--colorPadrao);
}

/* #fav-icon:hover {
  transition: .6s;
  transform: rotate(15deg);
} */

.form-control {
  padding: 0 0 0 0.7rem;
}

.card {
  width: clamp(180px, 23%, 300px);
  height: 100%;
}

.card > img {
  width: 50%;
}

.accordion-body {
  padding: 0;
}

.buy{
  background: var(--colorPadrao);
}

